@mixin backImg {
    background-color: #ecfbec;
    background-image: url("../../../img/vector_line.png");
    background-size: cover;
    background-position: center;
}
@mixin Dfjc {
    display: flex;
    justify-content: center;
}

@mixin Dfjsb {
    display: flex;
    justify-content: space-between;
}
@mixin FCCC {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin CHBTN {
    font-family: "Roboto";
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    background-color: #03c75a;
    &:hover {
        background-color: var(--mcolorUp);
    }
}

@mixin MyPageBtn {
    border: 1px solid var(--black100);
    border-radius: 10px;
    margin-right: 0.8rem;
    width: 7.3rem;
    height: 2.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}
