@mixin backImg {
    background-color: #ecfbec;
    background-image: url("../../../img/vector_line.png");
    background-size: cover;
    background-position: center;
}
@mixin Dfjc {
    display: flex;
    justify-content: center;
}

@mixin Dfjsb {
    display: flex;
    justify-content: space-between;
}
@mixin FCCC {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin CHBTN {
    font-family: "Roboto";
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    background-color: #03c75a;
    &:hover {
        background-color: var(--mcolorUp);
    }
}

@mixin MyPageBtn {
    border: 1px solid var(--black100);
    border-radius: 10px;
    margin-right: 0.8rem;
    width: 7.3rem;
    height: 2.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

@mixin selectBox3 {
    padding: 20px 0;
    position: relative;
    width: 250px;
    height: 45px;
    border-radius: 6px;
    border: 2px solid var(--gray);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-color: var(--white);

    svg {
        font-size: 20px; // 아이콘 크기 조정
        color: var(--mcolor); // 아이콘 색상 설정
        position: absolute;
        right: 4%;
        bottom: 18%;
    }

    &:after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 35px;
        background: var(--gray);
    }

    .label {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: inherit;
        height: inherit;
        border: 0 none;
        outline: 0 none;
        padding-left: 20px;
        background: transparent;
        cursor: pointer;
        padding-bottom: 30px;
    }

    .optionList {
        position: absolute;
        top: 41px;
        left: 0;
        width: 100%;
        background: white;
        color: var(--scolor);
        border: 1px solid var(--gray);
        outline: none;
        border-top: none;
        list-style-type: none;
        padding: 0;
        border-radius: 6px;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in;
        z-index: 9999;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #303030;
            border-radius: 45px;

            &:hover {
                background: #303030;
            }
        }
    }

    &.active {
        .optionList {
            max-height: 500px;
        }
    }

    .optionItem {
        border-bottom: 1px dashed var(--mcolor);
        padding: 5px 15px 5px;
        transition: 0.1s;

        &:hover {
            background: var(--mcolor);
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }
}

@mixin selectBox2 {
    padding: 20px 0;
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 6px;
    border: 2px solid var(--gray);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;

    svg {
        font-size: 20px;
        color: var(--mcolor);
        position: absolute;
        right: 6%;
        bottom: 14%;
    }

    &:after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 35px;
        background: var(--gray);
    }

    .label {
        display: flex;
        align-items: center;
        width: inherit;
        height: inherit;
        border: 0 none;
        outline: 0 none;
        padding-left: 15px;
        background: transparent;
        cursor: pointer;
        padding-bottom: 30px;
    }

    .optionList {
        position: absolute;
        top: 41px;
        left: 0;
        width: 100%;
        background: white;
        color: var(--scolor);
        border: 1px solid var(--gray);
        outline: none;
        border-top: none;
        list-style-type: none;
        padding: 0;
        border-radius: 6px;
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in;

        &.active {
            max-height: 500px;
        }
    }

    .optionItem {
        border-bottom: 1px dashed var(--mcolor);
        padding: 5px 15px 5px;
        transition: 0.1s;

        &:hover {
            background: var(--mcolor);
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #303030;
        border-radius: 45px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #303030;
    }
}
