.ql-toolbar {
    width: 100%;
    border: 2px solid var(--gray) !important;
    border-bottom: 1px solid var(--gray) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.ql-container {
    width: 100%;
    border: 2px solid var(--gray) !important;
    border-top: 1px solid var(--gray) !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 500px;

    
}