#contents_area {
    width: 60%;
    height: auto;
    min-height: 100vh;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-right: 40px;
    position: relative;

    #main_contents {
        width: 100%;
        padding: 0 25px;
    }
}

.board_w100 {
    width: 100%;
    height: auto;
    margin-top: 10px;

    li {
        padding: 0.7rem;
        font-size: 1rem;
        color: var(--black);
        transition: all 0.2s;

        &:nth-child(odd) {
            background-color: #eee;
        }
        &:hover {
            background-color: #e0e0e0;
        }

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .board_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            font-size: 0.85rem;
            color: var(--black200);

            > div {
                padding: 0 5px;
            }
        }

        .board_title {
            width: 70%;
            text-align: left;
            font-size: 1rem;
            color: var(--black);
        }

        .board_author,
        .board_date,
        .board_view {
            width: 10%;
        }
    }
}

/* ________________________________1650________________________________ */
@media (max-width: 1650px) {
    #contents_area {
        padding: 18px;
    }
    #main_contents {
        padding: 0;
    }
    .board_w100 li .board_title {
        width: 60%;
        text-align: left;
        font-size: 1rem;
        color: var(--black);
    }
}

/* ________________________________1150________________________________ */
@media (max-width: 1150px) {
    #contents_area {
        width: calc(100% - 200px);
        padding: 30px;
    }
    #main_contents {
        padding: 0;
        width: 100%;
    }
    .board_w100 li .board_author {
        width: 15%;
    }
    .board_w100 li .board_date {
        width: 15%;
    }
    .board_w100 li .board_view {
        width: 10%;
    }
}

/* ________________________________840________________________________ */
@media (max-width: 840px) {
    #contents_area {
        width: 100%;
        margin-left: 0px;
        padding: 2.5rem;
        padding-bottom: 6rem;
        padding-top: 8rem;
    }
    #main_contents {
        padding: 0 !important;
        width: 100% !important;
    }
}

/* ________________________________600________________________________ */
@media (max-width: 600px) {
    #contents_area {
        padding: 1rem;
        padding-top: 8rem;
        padding-bottom: 5rem;
    }
    .board_w100 li .board_title {
        width: 56%;
        text-align: left;
        font-size: 1rem;
    }
    .board_w100 li .board_author {
        width: 17%;
    }
    .board_w100 li .board_date {
        width: 17%;
    }
    .board_w100 li .board_view {
        width: 10%;
    }
}
