/* 탭 메뉴 */
.tab-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid var(--gray);

    .tab-button {
        flex: 1;
        max-width: 25%;
        padding: 10px 20px;
        cursor: pointer;
        box-sizing: border-box;
        border-right: 1px solid var(--gray);

        &:hover {
            background-color: #e6e6e6;
        }
    }
    .activity {
        flex: 2;
        max-width: 40%;
    }
    .right {
        border-right: none;
    }
}

.mypage_main {
    position: relative;
    .main_box {
        height: 800px;
        .profile_box {
            display: flex;
            margin-top: 50px;
            min-height: 400px;

            .left {
                width: 50%;
                padding-left: 30px;

                .profile_img {
                    display: block;
                    width: 180px !important;
                    height: 180px !important;
                    border-radius: 50%;
                    position: relative;
                    border: 2px solid #f4f4f4;
                    transition: all 0.2s;
                    cursor: pointer;

                    &:hover {
                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: #ffffff83;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    img {
                        object-fit: cover;
                        object-position: center center;
                    }
                    .gearWrap {
                        background-color: #e9e6e6;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 3%;
                        right: 6%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       
                        svg {
                            font-size: 1.3rem;
                        }
                    }
                    input {
                        position: absolute;
                        overflow: hidden;
                        clip: rect(0, 0, 0, 0);
                        width: 1px;
                        height: 1px;
                        margin: -1px;
                        padding: 0;
                        border: 0;
                        z-index: 2;
                    }
                }
            }

            .right {
                width: 50%;
                ul {
                    li {
                        width: 97%;
                        border-bottom: 1px solid var(--gray);
                        padding: 15px 0 10px 0;
                        em {
                            font-weight: bold;
                            display: inline-block;
                            width: 60px;
                            margin-right: 0.2rem;
                        }
                    }
                }
                .myData {
                    margin-top: 20px;
                    li {
                        font-size: 0.9rem;
                        font-weight: bold;
                        padding: 15px 0 5px 5px;
                    }
                }
            }
        }

        .profile_modify {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            ul {
                transition: all 0.3s;
                display: flex;
                li {
                    @include FCCC;
                    @include MyPageBtn;
                    flex-direction: column;

                    &:hover {
                        background-color: var(--bgcolor);
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .profile_text h2 {
        font-size: 18px;
    }

    .profile_modify ul,
    .profile_text {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .profile_text h2 {
        font-size: 17px;
    }

    .profile_modify ul,
    .profile_text {
        font-size: 14px;
    }

    .profile_modify ul li img {
        width: 18px;
    }
}

@media (max-width: 600px) {
    .profile_text h2 {
        font-size: 16px;
    }
    .profile_modify {
        justify-content: center !important;
    }
    .profile_modify ul,
    .profile_text {
        font-size: 13px;
    }

    .profile_modify ul li img {
        width: 15px;
    }
}

@media (max-width: 1200px) {
    .today_diary h2 {
        font-size: 24px;
    }

    .my_review_table td {
        font-size: 15px;
    }

    .today_write,
    .today_drink,
    .today_drink div div h4,
    .wirte_button {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .today_diary h2 {
        font-size: 22px;
    }

    .my_review_table td {
        font-size: 14px;
    }

    .today_drink h3 {
        font-size: 18px;
    }

    .today_write,
    .today_drink,
    .today_drink div div h4,
    .wirte_button {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .today_diary h2 {
        font-size: 20px;
    }

    .my_review_table td {
        font-size: 13px;
    }

    .today_write,
    .today_drink,
    .today_drink div div h4,
    .wirte_button {
        font-size: 13px;
    }
}

/* mypage_activity */

.mypage_activity .flexWrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    .my_board {
        width: 50%;
        border-right: 1px solid var(--gray);
        margin-top: 5px;
        padding: 5px;
        h2 {
            font-size: 1.2rem;
            margin: 10px;
            padding: 10px;
            background: var(--bgcolor);
            border-radius: 10px;
        }

        .my_board_table {
            height: 50vh;
            padding: 10px;
            overflow: hidden;
            table {
                width: 100%;
                tr {
                    cursor: pointer;
                    th {
                        padding: 10px;
                        border-bottom: 1px solid #000;
                        text-align: center;
                        background-color: var(--bgcolor);
                        td {
                            text-align: left;
                            padding: 10px 15px;
                            border-bottom: 1px solid var(--black300);
                        }
                    }
                    &:hover {
                        background-color: var(--bgcolor);
                    }
                }
            }
        }
    }
    .my_comment {
        margin-top: 5px;
        width: 50%;
        padding: 5px;
        h2 {
            font-size: 20px;
            margin: 10px;
            background: var(--bgcolor);
            border-radius: 10px;
            padding: 10px;
        }

        .my_comment_table {
            text-align: left;
            height: 50vh;
            padding: 10px;
            table {
                width: 100%;
                tr {
                    cursor: pointer;
                    th {
                        padding: 10px;
                        border-bottom: 1px solid #000;
                        text-align: center;
                        background-color: var(--bgcolor);
                        td {
                            text-align: left;
                            padding: 10px 15px;
                            border-bottom: 1px solid var(--black300);
                        }
                    }
                    &:hover {
                        background-color: var(--bgcolor);
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .my_board h2,
    .my_comment h2 {
        font-size: 18px;
    }

    .my_board_table td,
    .my_comment_table td {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .my_board,
    .my_comment {
        width: 100%;
    }

    .my_board h2,
    .my_comment h2 {
        font-size: 17px;
    }

    .my_board_table td,
    .my_comment_table td {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .my_board h2,
    .my_comment h2 {
        font-size: 16px;
    }

    .my_board_table td,
    .my_comment_table td {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .my_review_table td {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .my_review_table td {
        font-size: 13px;
    }
}
