.board_pages {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 50%;

        li {
            a {
                display: inline-block;
                padding: 0px 8px;
                font-size: 1rem;
                border: 1px solid #ddd;
                background-color: var(--white);
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: var(--mcolor);
                    color: var(--mcolorUp);
                    font-weight: bold;
                }
            }

            &.active {
                a {
                    color: var(--mcolor);
                    font-weight: bold;
                    border: 1px solid var(--gray);
                }
            }
        }
    }
}

.search_form {
    display: flex;
    justify-content: center;

    .selectBox2 {
        padding: 20px 0;
        position: relative;
        width: 150px;
        height: 35px;
        border-radius: 6px;
        border: 2px solid var(--gray);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 20px;
        cursor: pointer;

        svg {
            font-size: 20px;
            color: var(--mcolor);
            position: absolute;
            right: 6%;
            bottom: 14%;
        }

        &:after {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 35px;
            background: var(--gray);
        }

        .label {
            display: flex;
            align-items: center;
            width: inherit;
            height: inherit;
            border: 0 none;
            outline: 0 none;
            padding-left: 15px;
            background: transparent;
            cursor: pointer;
            padding-bottom: 30px;
        }

        .optionList {
            position: absolute;
            top: 41px;
            left: 0;
            width: 100%;
            background: white;
            color: var(--scolor);
            border: 1px solid var(--gray);
            outline: none;
            border-top: none;
            list-style-type: none;
            padding: 0;
            border-radius: 6px;
            overflow: hidden;
            max-height: 0;
            transition: 0.3s ease-in;

            &.active {
                max-height: 500px;
            }
        }

        .optionItem {
            border-bottom: 1px dashed var(--mcolor);
            padding: 5px 15px 5px;
            transition: 0.1s;

            &:hover {
                background: var(--mcolor);
            }

            &:last-child {
                border-bottom: 0 none;
            }
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #303030;
            border-radius: 45px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #303030;
        }
    }
    .board_search_box {
        margin-left: 10px;
        position: relative;

        input {
            /* border: 2px solid var(--mcolor); */
            border: 2px solid var(--gray);
            border-radius: 6px;
            height: 35px;
            width: 350px;
            padding: 20px 0 20px 20px;
        }

        button {
            position: absolute;
            background-color: transparent;
            border: none;
            color: var(--mcolor);
            font-size: 1.2rem;
            cursor: pointer;
            padding: 10px;
            right: 5%;
            top: 54%;
            transform: translateY(-50%);
        }
    }
}
